h1 {
	color: red;
	font-size: 20px;

}p {
	color: red;
}

h2 {
	color: yellow; 
	font-size: 50px;
	letter-spacing: 10px;
}

#zuitt-motto {
	letter-spacing: 5px;
}

#my-feelings {
	color: green;
	letter-spacing: 5px;
}

.class-offering {
	color: red;
}

ol, h1, h2 {
	text-transform: uppercase;
}

body > form > label {
	color: blue;
}

#bootcamp-learning-list li {
	color: yellow;
}

input[required="true"] {
	border-color: red;
}